<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Students</title>
</head>
<body>
    <form action="../Controller/C_Student.php" method="post">
        <table width="400" height="200" cellpadding="4" align="center">
            <tr>
                <th colspan="2">Cập nhật thông tin</th>
            </tr>

            <tr>
                <td>ID</td>
                <td><input type="text" name="id" value='<?php echo $student->id?>' required="required" 
                    size="40"></td>
            </tr>

            <tr>
                <td>Name</td>
                <td><input type="text" name="name" value='<?php echo $student->name?>' required="required"
                    size="40"></td>
            </tr>

            <tr>
                <td>Age</td>
                <td><input type="text" name="age" value='<?php echo $student->age?>' required="required"
                    size="40"></td>
            </tr>

            <tr>
                <td>University</td>
                <td><input type="text" name="university" value='<?php echo $student->university?>' required="required"
                    size="40"></td>
            </tr>
        </table>
        <center>
        <input type="submit" name="update" value="OK">
        <input type="reset" name="reset" value="Reset">
        <p><a href="../index.php">Trang chủ</a></p>
        </center>
    </form>
</body>
</html>